body{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(180deg, #a0d89f, #c7f9e6, #c7f9cd, #b7d89f);
}
p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #2f4f4f;
}
h1,h2,h3,h4,h5{
    color: #5f9f6b;
}
.kontener{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
header{
    padding-top: 1%;
    text-align: center;
    width: 100%;
    height: 25%;
    background: linear-gradient(45deg, #75a38b, #6e9659, #9cc39e);
}
header img{
    width: 250px;
}
header ul{
    padding-right: 1.5%;
    list-style: none;
    margin: 0;
}
header ul li{
    padding-left: 2%;
    display: inline-block;
}
header ul li a p{
    color: white;
    font-weight: bold;
    transition: color 0.5s;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.tekstflex{
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.tekst h1{
    color: #416241;
}
.tekst{
    width: 25%;
}
#photo img{
    width: 100%;
    border-radius:10%;
    border:5px solid #6e9659;
}
#photo{
    margin-left: 50px;
    width: 25%;
}
.software{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}
.prog
{
    width: 20%;
    margin-right: 5%;
    text-align: center;
    background: linear-gradient(180deg, #a5d08e, #9cc39e, #75a38b);
    border-radius: 15%;
}
.prog img{
    width: 75%;
    border-radius:10%;
    border:5px solid #6e9659;
}
.prog h2{
    color: white;
}
.prog p{
    color: #007d7d;
}
.prog h3{
    color: #09b729;
}
.firma{
    padding-top: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
.tekstt{
    width: 25%;
}
.zdj{
    padding-left: 5%;
    width: 25%;
}
.zdj img{
    width: 100%;
    border-radius:10%;
    border:5px solid #6e9659;
}
footer{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    background-color: #5b725b;
    color: white;
}
footer p{
    color: white;
    transition: color 0.5s;
}
footer h4{
    color: #80d792;
}
#mail{
    color: #6fc280;
    transition: color 0.5s;
}
#mail:hover{
    color: white;
    transition: color 0.5s;
}
#mail:active{
    color: #83c41a;
    transition: color 0.5s;
}
.logostop{
    width: 15%;
    margin-right: 10%;
}
.logostop img{
    width: 100%;
}
.menustop{
    width: 15%;
}
.progstop{
    width: 15%;
}
.kontstop{
    width: 15%;
}
.butel p{
    color: white;
    font-weight: bold;
}
.butel {
	border-radius:8px;
    border:2px solid #83c41a;
    background: linear-gradient(45deg, #a0d89f, #b7d89f);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:0px 17px;
	text-decoration:none;
}
.butel:hover {
	position:relative;
    top:1px;
    background: linear-gradient(45deg, #4f8959,#3a885f);
}
#but1 p{
    color: white;
    font-weight: bold;
}
#but1 {
	border-radius:8px;
    border:2px solid #1ac456;
    background: linear-gradient(45deg, #9fd8a9,#9fd8ba);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:0px 17px;
    text-decoration:none;
    margin-right: 5%;
}

header ul li a p:hover{
    color:#7fd790;
    transition: color 0.5s;
}
header ul li a p:active{
    filter: grayscale(100%);
    transition: filter 0.5s;
}
#but1:hover {
	position:relative;
    top:1px;
    background: linear-gradient(45deg, #4f8959,#3a885f);
}
footer a p:hover{

    color:#7fd790;
    transition: color 0.5s;
}
footer a p:active{
    color: gray;
    transition: color 0.5s;
}
.przerwa{
    width: 100%;
    padding: 2%;
}
.firma p a{
    color: #83c41a;
}